.xac-nhan-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  .child {
    width: calc((100% / 3) - 60px);
    display: inline-block;
    margin-right: 60px;
    margin-top: 10px;
  }
}
