<div class="container">
  <h2>{{ 'components.BangLai.title-update' | i18n }}</h2>
  <form #update="ngForm">
    <div class="form-group">
      <div class="title" for="Class">{{ 'components.BangLai.table.Class' | i18n }}</div>
      <input type="text" class="input-field" required [(ngModel)]="bangLai.Hang" name="Class" />
    </div>

    <div class="form-group">
      <div class="title" for="Date">{{ 'components.BangLai.table.Date' | i18n }}</div>
      <input type="date" class="input-field" required [(ngModel)]="bangLai.NgayCap" name="Date" />
    </div>

    <div class="form-group">
      <div class="title" for="Customer">{{ 'components.BangLai.table.Customer' | i18n }}</div>
      <input type="text" class="input-field" required [(ngModel)]="bangLai.NguoiDung_id" name="Customer" />
    </div>

    <div class="form-group">
      <div class="title" for="Location">{{ 'components.BangLai.table.Location' | i18n }}</div>
      <input type="text" class="input-field" required [(ngModel)]="bangLai.NoiCap" name="Location" />
    </div>

    <div class="form-group">
      <div class="title" for="LicenseNumber">{{ 'components.BangLai.table.LicenseNumber' | i18n }}</div>
      <input type="text" class="input-field" required [(ngModel)]="bangLai.SoBangLai" name="LicenseNumber" />
    </div>
  </form>
  <button (click)="updateBangLai()">{{ 'submit' | i18n }}</button>
  <div>
    <jhi-value-require *ngIf="updateError" [title]="'error.errorTrans.title'" [content]="'error.errorTrans.content'"></jhi-value-require>
  </div>
</div>
