<div class="container">
  <div class="logo-center">
    <div class="menu">
      <img src="../../../../content/images/logo.png" alt="logo" />
    </div>
  </div>
  <div class="right-section">
    <div class="tool-bar">
      <div class="menu">
        <img src="../../../../content/images/logo.png" alt="logo" />
      </div>
      <jhi-drop-down [data]="languageData" (selected)="changeLocale($event)" (click)="console()"></jhi-drop-down>
      <jhi-drop-down [data]="userData" *ngIf="hasLogin" (selected)="chooseUserOption($event)"></jhi-drop-down>
    </div>
    <div class="list-page" *ngIf="hasLogin">
      <div class="item" [routerLink]="['/home']" routerLinkActive="active">
        <div class="icon fas fa-home"></div>
        <p>{{ titleData.all }}</p>
      </div>
    </div>
    <div class="list-page" *ngIf="!hasLogin">
      <div class="item" [routerLink]="['/']" routerLinkActive="active">
        <div class="icon fas fa-sign-in-alt"></div>
        <p>{{ titleData.login }}</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="hasLogin">
  <p [innerHTML]="'welcome' | translate: { value: userDetails.Username }" class="welcome"></p>
</div>
