<jhi-component-layout [loadFlag]="false" [size]="'small'" id="change-password" [hasFooter]="false">
  <span class="title-component">{{ 'menu.changePassword' | i18n }}</span>
  <div class="content-component">
    <form #update="ngForm">
      <div class="form-group">
        <div class="title" for="oldPass">{{ 'components.changePassword.oldPass' | i18n }}</div>
        <input type="password" class="input-field" required [(ngModel)]="oldPass" name="oldPass" />
      </div>

      <div class="form-group">
        <div class="title" for="newPass">{{ 'components.changePassword.newPass' | i18n }}</div>
        <input type="password" class="input-field" required [(ngModel)]="newPass" name="newPass" />
      </div>

      <div class="form-group">
        <div class="title" for="againPass">{{ 'components.changePassword.againPass' | i18n }}</div>
        <input type="password" class="input-field" required [(ngModel)]="again" name="againPass" />
      </div>
    </form>
      <button (click)="changePass()">{{ 'submit' | i18n }}</button>
    <div>
      <jhi-value-require
        *ngIf="visible"
        [title]="'error.errorValueRequire.title'"
        [content]="'error.errorValueRequire.content'"
      ></jhi-value-require>
    </div>
  </div>
</jhi-component-layout>
