#search-by-id-xe {
  .content-component {
    margin-left: 1%;
    input {
      border: lightgray 1px solid;
      height: 30px;
    }
  }
  table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 99%;
    table-layout: fixed;
    text-align: center;
    td,
    th {
      border: 1px solid #dddddd;
      padding: 8px;
      white-space: normal;
      word-wrap: break-Word;
    }
  }
}
